@font-face {
  font-family: "Proxima Nova";
  src: url("../../styles/fonts/proximanova-bold-webfont.woff") format("woff");
}

.timeLapse {
  margin-left: 5%;
  font-size: 105%;
  font-family: "Proxima Nova";
}

.contenedorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%;
}

.value {
  font-family: "Proxima Nova";
  color: #f5cf3c;
  width: 70%;
}

.porcentaje {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Proxima Nova";
  text-align: center;
  width: 25%;
  color: white;
  margin-right: 7px;
  border-radius: 5px;
  height: 20px;
  margin-top: -2px;
}

.positive {
  background-color: #2e8a44;
  font-size: 80%;
  border-radius: 10px;
}

.negative {
  border-radius: 10px;
  background-color: #f83b49;
  font-size: 80%;
}

.buttonContainer:hover .button {
  display: inline;
}

.buttonContainer:hover .date {
  display: inline;
}

.date {
  margin-left: 5px;
  color: white;
  font-size: 75%;
  margin-right: 23px;
  display: none;
}

.button {
  display: none;
  width: 15%;
  height: 30px;
  background-color: whitesmoke;
  margin: 5px;
  border-radius: 5px;
}

.buttonContainer {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.chartContainer {
  border-bottom: 1px solid grey;
}

.buttonItem {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.button:hover {
  cursor: pointer;
}

.circularProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.MuiIconButton-root {
  padding: 0px !important;
}

#alert-dialog-slide-description {
  font-family: "Proxima Nova";
}

#alert-dialog-slide-title h2 {
  font-family: "Proxima Nova" !important;
  text-align: center !important;
}

#deleteOptions button {
  color: #449fd7;
  font-family: "Proxima Nova" !important;
}

#quitmodal div div {
  border-radius: 10px !important;
}
