@font-face {
  font-family: "Proxima Nova";
  src: url("../../styles/fonts/proximanova-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../../styles/fonts/proximanova-regular-webfont.woff") format("woff");
}

#add {
  background-color: #449fd7;
  color: white;
  border-radius: 60px;
  height: 60px;
  width: 60px;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
  cursor: pointer;
}

#add:hover {
  width: 70px;
  height: 70px;
  padding-top: 15px;
  font-weight: bold;
  background-color: #2893d6;
}

#addcard {
  background-color: #cccccc;
  width: 23%;
  height: 270px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  span {
    margin: 10px auto;
    font-family: "Proxima Nova";
    color: gray;
    cursor: pointer;
  }
}

.single {
  background-color: #f1f1f1;
  min-height: 500px;
  padding-top: 20px;
}

.containerMetric {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.addMetrics {
  display: flex;
  width: 60%;
  display: flex;
  align-items: baseline;
}

.forminput {
  margin-top: 25px;
  display: flex;
}

.searchIcon {
  justify-content: baseline;
  margin-top: 7px;
}

#inputSearch {
  display: flex;
  justify-content: baseline;
  margin-right: -30px;
  padding-bottom: 100;
}

.form {
  display: flex;
  align-items: baseline;
  margin-left: 10px;
}
