@font-face {
  font-family: "Proxima Nova";
  src: url("../../styles/fonts/proximanova-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../../styles/fonts/proximanova-regular-webfont.woff") format("woff");
}

.navbar {
  background-color: white;
  width: 100%;
  padding: 0.1rem 1rem !important;

  button:focus {
    outline: none;
  }

  #title {
    font-size: 200%;
    font-weight: normal;
  }

  .selected {
    color: #449fd7;
  }

  a {
    color: #9e9e9e;
    font-weight: bold;
    font-family: "Proxima Nova";
    text-transform: uppercase;
  }

  a:active {
    color: black;
  }

  #mode {
    font-family: "Proxima Nova";
    color: black;
    margin-right: 10px;
    font-weight: bold;
  }

  .items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .itemRight {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .navcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .MuiTab-textColorInherit.Mui-selected {
    transition: background-color 1s ease-in-out;
    background-color: #fee73f;
    border-radius: 100px;

  }

  .PrivateTabIndicator-root-1 {
    display: none;
  }

  .MuiTabs-root {
    justify-content: center;
    align-items: center;
    min-height: 30px;
  }

  .MuiTab-root {
    min-width: 0px;
    width: 80px;
    font-size: 10pt;
  }

  .Mui-selected {
    border: none;
  }

  button {
    span {
      text-transform: capitalize;
      font-family: "Proxima Nova";
    }
  }

  .divVisualizacion {
    margin-left: 150px;
    align-items: center;
  }

  .divMain {
    .tabsGroup {
      border: 0.5px solid grey;
      border-radius: 100px;
      height: 30px;
    }

    font-family: "Proxima Nova";
    height: 23px;
    width: 150px;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

  }

  .leftButton {
    background-color: yellow;
    color: black;
    height: 18px;
    width: 68px;
    border: 1px solid yellow;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 11px;
  }

  .rightButton {
    color: black;
    height: 10px;
    width: 75px;
    text-align: center;
    /* border: 3px solid blue;
    border-radius: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 11px;

  }
}