.navbar {
  button:focus {
    outline: none;
  }
  background-color: white;
  width: 100%;
  #title {
    font-size: 200%;
    font-weight: normal;
  }
  a {
    color: #449fd7;
    font-weight: bold;
  }

  a:active {
    color: black;
  }

  .items {
    display: flex;
    flex-direction: row;
  }

  .itemRight {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .navcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tabsGroup {
    border: 0.5px solid grey;
    border-radius: 100px;
    height: 30px;
  }
  .MuiTab-textColorInherit.Mui-selected {
    transition: background-color 1s ease-in-out;
    background-color: #fee73f;
    border-radius: 100px;
  }
  .PrivateTabIndicator-root-1 {
    display: none;
  }
  .MuiTabs-root {
    justify-content: center;
    align-items: center;
    min-height: 30px;
  }
  .MuiTab-root {
    min-width: 0px;
    width: 80px;
    font-size: 10pt;
  }
  .Mui-selected {
    border: none;
  }
}
