#alarms{
  margin-top: 50px;
  .triggerData{
    font-family: "Proxima Nova";
    background-color: white;
    margin-bottom: 10px;
  }
  .triggerOptions{
    font-family: "Proxima Nova";
  }
  .triggerRegular{
    font-family: "Proxima Nova Regular";
  }
}