#alarms{
  margin-top: 50px;
  .triggerData{
    font-family: "Proxima Nova";
    margin-bottom: 10px;
  }
  .triggerOptions{
    font-family: "Proxima Nova";
  }
  .triggerRegular{
    font-family: "Proxima Nova Regular";
    margin-left: 10px;
  } 
  .titles{
    color: #9e9e9e;
    font-family: 'Proxima Nova';
  }
  .dataOption{
    background-color: white;
    padding-top: 7px;
    height: 40px;
  }
  .nameOption{
    padding-left: 10px;
  }
  .icons{
    color: #449fd7;
  }
  #noAlarms{
    font-family: "Proxima Nova";
    color: grey;
  }
}
