.addMetrics {
  display: flex;
  width: 100%;
  display: flex;
  align-items: baseline;
  margin-left: -10px;
  padding-top: 10px;
}

.forminputSearch {
  display: flex;
}

.searchIcon {
  justify-content: baseline;
  margin-top: 7px;
}

#inputSearch {
  display: flex;
  justify-content: baseline;
  margin-right: -30px;
  padding-bottom: 100;
}

.form {
  display: flex;
  align-items: baseline;
  margin-left: 10px;
}
