@font-face {
    font-family: "Proxima Nova";
    src: url("../../styles/fonts/proximanova-bold-webfont.woff") format("woff");
}

.editModalTitle {
    font-family: "Proxima Nova";
    font-size: 95% !important
}

.editarSwitch {
    font-family: "Proxima Nova";
    text-align: center;
}