@font-face {
  font-family: "Proxima Nova";
  src: url("../../styles/fonts/proximanova-bold-webfont.woff") format("woff");
}

.editModalTitle {
  font-family: "Proxima Nova";
  font-size: 95% !important;
}

.editarSwitch {
  font-family: "Proxima Nova";
  text-align: center;
  cursor: pointer;
}

.buttonModalComparacion {
  font-family: "Proxima Nova";
  font-size: 90% !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
}

.dropdownSite {
  padding-top: 30px;
}

.dropdownSubgroup {
  padding-top: 30px;
}

.timeFrame {
  padding-top: 30px;
}

.comparacion {
  padding-top: 30px;
  padding-bottom: 40px;
}

#dropdownMenuButton {
  background-color: white !important;
  color: black !important;
  width: 100%;
  text-align: left !important;
  border: 1px solid white !important;
}

#dropdownMenuButton2 {
  background-color: white !important;
  color: black !important;
  border: 0px solid white !important;
}

.editAlarm {
  font-family: "Proxima Nova";
  color: black !important;
}

.editAlarm2 {
  font-family: "Proxima Nova";
  color: #00a6dc !important;
  cursor: pointer;
}

.formEditAlarm {
  padding-top: 20px;
}

.closeModalEditAlarm {
  padding-bottom: 20px;
}

.infoWarning {
  height: 40px;
  font-size: 90%;
  color: #68aec8;
  background-color: #c4edfd;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
}

.editOption{
  width: 100%;
  text-align: left !important;
  border: 1px solid #cccccc !important;
}